body {
    margin: 0;
    padding: 0;
}

.grid_container {
    display: grid;
    grid-template-columns: 200px 1080px;
    /* grid-column-gap: 0px; */
}

.rightbar {
    background-color: #B097B8;
    width: 200px;
    height: 610px;
}

.rightbar a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 60px;
}

.rightbar a:hover {
    background-color: #E0C5DE;
    color: #7A5784;
}

#btnfirst {
    margin-top: 150px;
}

form {
    font-size: 20px;
    color: #370537;
}

h3 {
    padding-left: 40px;
}

label {
    margin: 40px;
}

table {
    margin-top: 85px;
    background-color: #E8E7F1;
    width: 1080px;
    height: 363px;
}

td {
    font-size: 16px;
    text-align: center;
    border-right: solid 1px #7A5784;
}

.firstrow {
    border-bottom: solid 1px #7A5784;
    height: 30px;
    width: 30px;
}

.insert {
    text-align: center;
    width: 80px;
    border: unset;
    background-color:white;
    border-radius: 3px;
    
}
.weight{
    text-align: center;
    width: 30px;
    border: unset;
    background-color:#E8E7F1;
    border-radius: 3px;

}

#btnSelect {
    position: absolute;
    top: 80px;
    left: 490px;
    background-color: #7A5784;
    color: white;
    border: unset;
    border-radius: 3px;
    padding: 3px;
    /* width: 50px;
    height: 25px; */
}

#btnSelect:hover {
    background-color: #E0C5DE;
    color: purple;
}

#btnok {
    position: absolute;
    top: 20px;
    left: 350px;
    background-color: #7A5784;
    color: white;
    border: unset;
    border-radius: 3px;
    padding: 6px;
    /* width: 50px;
    height: 25px; */
}

#btnReset {
    position: absolute;
    top: 20px;
    left: 400px;
    background-color: #7A5784;
    color: white;
    border: unset;
    border-radius: 3px;
    padding: 6px;
    /* width: 50px;
    height: 25px; */
}

#btnReset:hover {
    background-color: #E0C5DE;
    color: pu;
}

#btnok:hover {
    background-color: #E0C5DE;
    color: pu;
}

.Square {
    width: 150px;
}

.customersquare {
    width: 100px;
}